@font-face{
    font-family: 'SegoeUI';
    src: url('../../../font/SegoeUI.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Segoe UI Semibold';
    src: url('../../../font/SegoeUI-Sb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}