<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="row">
    	<div class="col-sm-9">
        	<div class="row" style="padding-right:15px;">
            
        	<div class="col-sm-12" style="border-bottom:2px solid red;">
            	<label>Berita</label>
            	<label style="float:right;">Berita</label>
            </div>
            <div class="row" style="padding: 0;">
            	<div class="col-sm-4">4</div>
            	<div class="col-sm-8">
                	<div class="btn btn-primary">Liga Indonesia</div><label>1 Jam 32 Menit Lalu</label>
                	<h4>Pegang Rekor Gol Tercepat Liga 1, Osas Saha Berikan Tips Membobol Gawang Lawan</h4>
                    
                	<span>
						Osas Saha memberikan tips untuk para penyerang muda di Indonesia tentang apa saja yang harus diperhatikan penyerang muda agar bisa
					</span>
                </div>
            </div>
            </div>
        </div>
    	<div class="col-sm-3">
        	<div class="row">
        	<div class="col-sm-12" style="border-bottom:2px solid red;">
            	<label>Berita</label>
            	<label>Berita</label>
            </div>
            	<div class="col-sm-12">4</div>
            	<div class="col-sm-12"><label>1 Jam 32 Menit Lalu</label>
                	<h4>Pegang Rekor Gol Tercepat Liga 1, Osas Saha Berikan Tips Membobol Gawang Lawan</h4>
                    
                </div>
            </div>
        </div>
    </div>	
</div>
</body>
</html>
