@font-face {
    font-family: 'allerregular';
    src: url('../font/aller_rg-webfont.woff2') format('woff2'),
         url('../font/aller_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasKai';
    src: url('../font/BebasKai.otf') format('opentype'),
         url('../font/BebasKai.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}