@media (max-width: 768px) {
  .nav-bar-mobile {
    background-color: #111111;
    padding: 20px 0 15px;
  }
  .nav-bar-mobile .top-bar-menu {
    padding-top: 5px;
  }
  .nav-bar-mobile .top-bar-menu img {
    width: 30px;
    height: 20px;
  }
  .nav-bar-mobile .logo-mobile {
    width: 100%;
    text-align: center;
  }
  .nav-bar-mobile .logo-mobile .link-logo-mobile img {
    width: 150px;
    height: 30px;
  }
  .nav-bar-mobile .i-nav-cari {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-position: center center;
    color: #dbd950;
  }
  .top-nav {
    background-color: #252525;
    text-align: center !important;
    font-size: 15px;
    padding: 0;
  }
  .top-nav .top-nav-list {
    list-style: none;
    margin: 0;
    padding: 6px 0;
    white-space: nowrap;
    overflow-x: auto;
  }
  .top-nav .top-nav-list .top-nav-item {
    display: inline-block;
    margin: 0;
  }
  .top-nav .top-nav-list .top-nav-item .top-nav-item__link {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #dbd950;
    padding: 5px 7px;
  }
}
