<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./Owl Carousel with Magnific Popup/dist/style.css">
  <!-- <style>
    .sv-slider-item img {
  width: 100%;
  height: 490px;
}

.sv-slider .owl-thumbs {
  white-space: nowrap;
  overflow: hidden;
}

.owl-thumbs button>img {
  width: 235px;
  height: 115px;
  margin: 10px 5px;
}
.owl-thumbs > .owl-thumb-item {
  border: none;
  padding: 0;
}
.slide-progress {
  width: 0;
  max-width: 100%;
  height: 4px;
  background: #000;
}
.deskrip-large {
    position: absolute;
    left: 0;
    right: 0;
    padding: 25px 15px;
    bottom: 0;
    z-index: 5;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(1, 0, 0, 0.8) 100%);
    padding-top: 100px;
    font-size: 48px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
    letter-spacing: -1.0px;
}

  </style> -->
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/owl.carousel2.thumbs@0.1.8/dist/owl.carousel2.thumbs.min.js"></script>
<script src="/owl.thumbs.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />


<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
<!-- Owl Carousel CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<!-- Magnific Popup CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">

<div class="container" style="width: 980px; padding: 0;">
  <div class="gallery-slider_wrapper">
    <div class="single-gallery-carousel-content-box owl-carousel owl-theme">
        <div class="item">
          <a href="">
            <img src="../assets/img/content/img-content1.png" alt="Awesome Image"/>
          </a>
          <div class="category-carousel">                  
            <a href="" class="category">
                Liga Indonesia
            </a>
        </div>
          <a href="" class="deskrip-large">
            Headline Dong
          </a>
        </div>
        <div class="item">
          <a href="">
            <img src="../assets/img/content/img-content2.png" alt="Awesome Image"/>
          </a>
          <a href="" class="deskrip-large">
            HEBOH DONG
          </a>
        </div>
        <div class="item">
          <a href="">
            <img src="../assets/img/content/img-content3.png" alt="Awesome Image"/>
          </a>
          <a href="" class="deskrip-large">
            COBA DONG
          </a>
        </div>
        <div class="item">
          <a href="">
            <img src="../assets/img/content/img-content4.png" alt="Awesome Image"/>
          </a>
          <a href="" class="deskrip-large">
            ENAK DONG
          </a>
        </div>
    </div>
    <div>
        <div class="single-gallery-carousel-thumbnail-box owl-carousel owl-theme">
            <div class="item" href="../assets/img/content/img-content1.png">
              <div class="slide-progress"></div>
                <img src="../assets/img/content/img-content1.png" alt="Awesome Image"/>
            </div>
            <div class="item" href="../assets/img/content/img-content1.png">
              <div class="slide-progress"></div>
              <img src="../assets/img/content/img-content2.png" alt="Awesome Image"/>
          </div>
            <div class="item" href="../assets/img/content/img-content1.png">
              <div class="slide-progress"></div>
              <img src="../assets/img/content/img-content3.png" alt="Awesome Image"/>
          </div>
            <div class="item" href="../assets/img/content/img-content1.png">
              <img src="../assets/img/content/img-content4.png" alt="Awesome Image"/>
          </div>
        </div>
    </div>
  </div>

  <iframe src="https://www.bola.net/" frameborder="0" width="500px"></iframe>
  
</div>

<!-- <script type="text/javascript">
// $("#mydiv").replaceWith("<input type='button' value='MyButton'>");
  // alert('papapaoe')

  $('.sv-slider .owl-carousel').owlCarousel({
  autoplay: true,
  autoplayHoverPause: true,
  dots: false,
  thumbs: true,
  thumbImage: true,
  // thumbsPrerendered: true,
  thumbContainerClass: 'owl-thumbs',
  thumbItemClass: 'owl-thumb-item',
  onInitialized: startProgressBar,
  onTranslate: resetProgressBar,
  onTranslated: startProgressBar,
  loop: true,
  items: 1,
  responsive: {
    0: {
      items: 1,
    },
    768: {
      items: 1,
    },
    992: {
      items: 1,
    }
  }
});

//Init the carousel

function startProgressBar() {
  // apply keyframe animation
  $(".slide-progress").css({
    width: "100%",
    transition: "width 5000ms"
  });
}

function resetProgressBar() {
  $(".slide-progress").css({
    width: 0,
    transition: "width 0s"
  });
}


$(document).ready(function(){
setTimeout(function(){
  // alert('papap')
  $("button.owl-thumb-item").replaceWith("<div class='owl-thumb-item'></div>");
},500);
});


</script> -->


<!-- jQuery Library-->
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
<!-- Owl Carousel JS-->
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
<!-- Magnific Popup JS-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js'></script>
<!-- partial -->
  <script  src="./Owl Carousel with Magnific Popup/dist/script.js"></script>
</body>
</html>
