<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=0.3"> -->
	 <!-- Bootstrap CSS  -->
     <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
     <link rel="stylesheet" href="./assets/css/style.css">
    <title>Template </title>
</head>
<body class="body-loaded">
	<header class="navbar-fixed-top">
		<div class="container">
			<div class="row">
					<div class="col-md-3">
						<div class="logo_img">
							<a href="">
								<img src="./assets/img/kdslots-logo.png" width="100%">
								</a>
							</div>
						</div>
				</div>
			</div>
		</header>
		<section id="home" class="top_banner_bg">
			<div class="container">
				<div class="row">
						<div class="col-md-6 present">
								<h1>Bermain game Online <br> slots, poker, casino, <br> sportsbook, MM bolatangkas <br> dimana saja dan kapanpun hanya di</h1>
								<h1 class="text">KDSLOTS</h1>
								<br>
								<p style="font-size: 20px;">INGIN DAFTAR DAN LOGIN KLIK BUTTON DI BAWAH INI</p>
								<div class="section_btn">
									<a href="https://travelingindonesia.xyz/ref.php?ref=IFOREX" target="_blank" rel="nofollow" title="daftar">
										<button class="btn btn-default daftar" type="submit">DAFTAR</button>
									</a>
										<a href="https://travelingindonesia.xyz/ref.php?ref=IFOREX" target="_blank" rel="nofollow" title="Login">
											<button class="btn btn-default login" type="submit">LOG IN</button>
										</a>
								</div>
						</div>
							<div class="col-md-6">
								<div class="present_img">
									<img src="./assets/img/Cellphone.png">
									</div>
								</div>
							</div>
						</div>
					</div>
		</section>
		<section class="bot_banner_bg">
			<div class="container">
				<div class="row">
					<div class="col-md-12 heading_bot">
						<h1>deposit 1 menit withdraw 3 menit tanpa basa-basi</h1>
					</div>
					
					<div class="col-md-6">
						<div class="table-1">
							<h3>Minimal Deposit</h3>
							<div class="price_table">
								<span class="round">
									<h3> Rp 25.000 </h3>
								</span>
							</div>
							<ul>
								<li>Sangat cepat</li>
								<li>Cs ramah melayani</li>
								<li>Deposit aman 100%</li>
							</ul>
							<div class="sub_button ">
								<a href="" target="_blank" rel="nofollow" button="" class="btn btn-default min-dp">Gabung Sekarang</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="table-1">
							<h3>Minimal Deposit</h3>
							<div class="price_table">
								<span class="round">
									<h3> Rp 50.000 </h3>
								</span>
							</div>
							<ul>
								<li>Cepat</li>
								<li>Pelayanan 24 jam</li>
								<li>Menang berapapun dibayar</li>
							</ul>
							<div class="sub_button">
								<a href="" target="_blank" rel="nofollow" button="" class="btn btn-default  min-wd">Gabung Sekarang</a>
							</div>
						</div>
					</div>
					<div class="footer_credit row">
						<div class="col-md-11">
							<p>© KDSLOTS | SLOTS ONLINE | CASINO ONLINE | POKER ONLINE
								BOLA ONLINE | HAK CIPTA DILINDUNGI.</p>
						</div>
						<div class="col-md-1">
							<a href="" class="backtotop"> ^ </a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>