<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=0.3"> -->
	 <!-- Bootstrap CSS  -->
	 <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
     <link rel="stylesheet" href="./assets/css/style.css">
    <title>Template </title>
</head>
<body class="body-loaded">
	<header class="navbar-fixed-top">
		<div class="container">
			<div class="row">
					<div class="col-md-3">
						<div class="logo_img">
							<a href="">
								<img src="./assets/img/kdslots-logo.png" width="100%">
								</a>
							</div>
						</div>
				</div>
			</div>
		</header>
		<section id="home" class="top_banner_bg">
			<div class="container">
				<div class="row">
						<div class="col-md-6 present">
								<h1>Bermain game Online <br> slots, poker, casino, <br> sportbook, MM bolatangkas, <br> dimana saja dan kapanpun hanya di</h1>
								<h1 class="text">KDSLOTS</h1>
								<br>
								<p style="font-size: 20px;">INGIN DAFTAR DAN LOGIN KLIK BUTTON DI BAWAH INI</p>
								<div class="section_btn">
									<a href="https://travelingindonesia.xyz/ref.php?ref=IFOREX" target="_blank" rel="nofollow" title="daftar">
										<button class="btn btn-default" type="submit">DAFTAR</button>
									</a>
									<span>
										<a href="https://travelingindonesia.xyz/ref.php?ref=IFOREX" target="_blank" rel="nofollow" title="Login">
											<button class="btn btn-default" type="submit">L O G I N</button>
										</a>
									</span>
								</div>
						</div>
							<div class="col-md-6">
								<div class="present_img">
									<img src="./assets/img/Cellphone.png">
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

			</body>
</html>