.overlay-sidebar,.overlay-side-bar{
    display: none;
}
.carousel-container {
padding: 0;

.item .thumb {
	width: 25%;
	cursor: pointer;
	vertical-align: top;
    text-align: left;
	padding: 10px 6px;
	float: left;
}
.item .thumb a img {
	width: 232px;
	height: 115px;
}
.item img {
	width: 100%;
}

.big-pic{
	height: 490px;
	width: 100%;
}
.category-carousel{
    position: absolute;
    left: 0;
    right: 0;
    padding: 25px 18px;
    bottom: 130px;
    z-index: 6;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
    letter-spacing: -1.0px;

    & > .category {
        padding: 3px 10px;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(219, 204, 80);
        background-color: rgb(17, 17, 17);
        border-radius: .20rem;
    }
}



.deskrip-large {
    position: absolute;
    left: 0;
    right: 0;
    padding: 25px 17px;
    bottom: 0;
    z-index: 5;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(1, 0, 0, 0.8) 100%);
    padding-top: 100px;
    font-size: 48px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
    letter-spacing: -1.0px;
}

.thumb-link{
	display: block;
    padding: 10px;
    height: 200px;
    position: relative;
    overflow: hidden;
}


.thumb-link p {
    font-size: 13px;
    color: #1d1d1d;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0;
    margin-top: 15px;
    height: 73px;
    overflow: hidden;
}
}
 .header-mobile {
     display: none;
 }
 
 .topnews-container {
     display: none;
 }


.hide {
    display: none !important;
}

.show {
    display: block !important;
}